# 1. What happens when the following code is executed? Will it give any error? Explain the reasons. x = 2 if x == 2: print x else: print y

In [2]:
x=2
if x==2:
    print(x)
    
else:
    print(y)

2

Here we declare a variable x a value 2 assign in this variable x. since condition of if satissfy, body of the if condition run and ther is only print function. That's why, we get value of the x which is 2. since if condition satisfy, else condition is skip

# 2. What happens the following code is executed? Will it give any error? Explain the reasons. x = 2 if x == 2: print x else: x +

In [38]:
x=2
if x==3:
    print(x)
    
else:
    print(x+1)

3

we got a syntax error because in python at first any code conver into binary file. So, In python code if we use operator, we have to give values after and before of the operator. Here in the code break the rules, thats why we got a syntax error

# 3. Write an iterator class reverse_iter, that takes a list and iterates it from the reverse direction. ::

In [9]:
list=["K", "O", "U", "S", "H", "I", "K"]
list[::-1]

['K', 'I', 'H', 'S', 'U', 'O', 'K']

# 4.Write a program that takes one or more filenames as arguments and prints all the lines which are longer than 40 characters.

# 5. What will be the output of the following program. a, b = 2, 3 c, b = a, c + 1 print a, b, c

In [12]:
a, b = 2, 3
c = a
b=c + 1
print (a, b, c)

2 3 2

# 6. How many multiplications are performed when each of the following lines of code is executed? print square(5) print square(2*5)

In [21]:
def square(x):
    return(x*x)

In [22]:
print(square(5))
print (square(2*5))

25
100

# 7. Write a function count_digits to find number of digits in the given number.

In [21]:
def count_digits(num):
    return len(str(num))

In [22]:
count_digits(568912)

6

# 8. Write a function istrcmp to compare two strings, ignoring the case

In [53]:
def count_string(x):
    
    list1=['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']
            
    dict1={}

    
    for i in list1:
        m=0
        for j in x:
            if i==j:
                m=m+1
        dict1[i]=m
        
    return dict1

In [54]:
x1=input('Please input a string: ')
x2=input("Please input a another string: ")
p1=count_string(x1)
p2=count_string(x2)
print(p1)
print(p2)

Please input a string: dfajkfjkdszhgjkhsajkhfgjkhmfds
Please input a another string: dsajkfvjkdwsalkejgfdszjnfgjk
{'a': 2, 'b': 0, 'c': 0, 'd': 3, 'e': 0, 'f': 4, 'g': 2, 'h': 4, 'i': 0, 'j': 5, 'k': 5, 'l': 0, 'm': 1, 'n': 0, 'o': 0, 'p': 0, 'q': 0, 'r': 0, 's': 3, 't': 0, 'u': 0, 'v': 0, 'w': 0, 'x': 0, 'y': 0, 'z': 1}
{'a': 2, 'b': 0, 'c': 0, 'd': 3, 'e': 1, 'f': 3, 'g': 2, 'h': 0, 'i': 0, 'j': 5, 'k': 4, 'l': 1, 'm': 0, 'n': 1, 'o': 0, 'p': 0, 'q': 0, 'r': 0, 's': 3, 't': 0, 'u': 0, 'v': 1, 'w': 1, 'x': 0, 'y': 0, 'z': 1}

# 9. What will be output of the following program? print 2 < 3 and 3 > 1 print 2 < 3 or 3 > 1 print 2 < 3 or not 3 > 1 print 2 < 3 and not 3 > 1

# 10.What will be output of the following program? x = 4 y = 5 p = x < y or x < z print p

In [24]:
x = 4
y = 5
p = x < y or x < z
print(p)

True

# 11. What will be output of the following program? True, False = False, True print True, False print 2 < 3

In [3]:
True == False

False

# 12.Write a program add.py that takes 2 numbers as command line arguments and prints its sum.

In [12]:
num1, num2 =input("Enter Two numbers: Separate by space key ").split()

print(f'The sum of {num1} and {num2} is {int(num1)+int(num2)}' )

Enter Two numbers: Separate by space key 125 125
The sum of 125 and 125 is 250

# 13. What will be the output of the following program? x = [0, 1, [2]] x[2][0] = 3 print x x[2].append(4) print x x[2] = 2 print x

In [29]:
x = [0, 1, [2]]
x[2][0] = 3
print (x, x[2].append(4))
print (x, x[2] == 2)
print(x)

[0, 1, [3, 4]] None
[0, 1, [3, 4]] False
[0, 1, [3, 4]]

In [ ]:
# Write a program to give an input as string but print your name

In [2]:
char=input("Enter a input = ")

if char.isdigit():
    print("This is not a string")
    
else:
    print("KOUSHIK BISWAS")

Enter a input = k
KOUSHIK BISWAS

# 13. : What will be the output of the following program? x = [0, 1, [2]] x[2][0] = 3 print x x[2].append(4) print x x[2] = 2 print x

In [4]:
x = [0, 1, [2]]
x[2][0] = 3
print(x, x[2].append(4))
print(x, x[2] == 2)
print(x)

[0, 1, [3, 4]] None
[0, 1, [3, 4]] False
[0, 1, [3, 4]]

# 14. Python has a built-in function sum to find sum of all elements of a list. Provide an implementation for sum

In [4]:
list1=[5,7,8,9]

In [5]:
sum(list1)

29

# 15. What happens when the above sum function is called with a list of strings? Can you make your sum function work for a list of strings as well?

In [11]:
sum(['k','o','u','s','h','i','k'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
# This function is intended specifically for use with numeric values and may reject non-numeric types.

# 16. Implement a function product, to compute product of a list of numbers

In [13]:
def product_func(list):
    ans=1
    for i in list:
        ans=ans*i
        
    return ans

In [14]:
list1=[1,2,3,4,5,6]
product_func(list1)

720

# 17. Write a function reverse to reverse a list. Can you do this without using list slicing?

In [15]:
def reverse_list (list):
    return list[::-1]

In [16]:
list1=['k','o','u','s','h','i','k']
reverse_list(list1)

['k', 'i', 'h', 's', 'u', 'o', 'k']

# 18. Cumulative sum of a list [a, b, c, ...] is defined as [a, a+b, a+b+c, ...]. Write a function cumulative_sum to compute cumulative sum of a list. Does your implementation work for a list of strings?

In [17]:
def cumulative_sum(list):
    cumulative_sum_list=[]
    sum=0
    for i in list:
        sum=sum+i
        cumulative_sum_list.append(sum)
        
    return cumulative_sum_list

In [18]:
list1=[1,2,3,4,5,6,7,8,9]
cumulative_sum(list1)

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [20]:
list2=['k','o','u','s','h','i','k']
cumulative_sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 19. Write a function cumulative_product to compute cumulative product of a list of numbers.

In [25]:
def cumulative_product(list):
    cumulative_product_list=[]
    product=1
    for i in list:
        product=product*i
        cumulative_product_list.append(product)
        
    return cumulative_product_list

In [26]:
list1=[1,2,3,4,5,6,7,8,9]
cumulative_product(list1)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

# 20. Write a function unique to find all the unique elements of a list.

In [3]:
def unique_element_list(list):
    unique_list=[]
    for i in list:
        if i not in unique_list:
            unique_list.append(i)
            print(i)

In [5]:
list2=['k','o','u','s','h','i','k']
unique_element_list(list2)

k
o
u
s
h
i

# 21. Write a function dups to find all duplicates in the list

In [ ]:
def unique_element_list(list):
    unique_list=[]
    for i in list:
        if i in unique_list:
            unique_list.append(i)
            print(i)

In [6]:
list2=['k','o','u','s','h','i','k']
unique_element_list(list2)

k
o
u
s
h
i

# 22. Write a function group(list, size) that take a list and splits into smaller lists of given size.

In [8]:
def sub_list(list,size):
    return list[:size]

In [9]:
list2=['k','o','u','s','h','i','k']
sub_list(list2,3)

['k', 'o', 'u']

# 23. Write a function lensort to sort a list of strings based on length.

In [5]:
def lensort(list):
    return sorted(list, key=len )

In [65]:
list2=['koushik','akash','manotosh','shibaram']
#lensort(list)

In [66]:
for i in range(len(list2)):
    for j in range(i+1, len(list2)):
        if len(list2[i])<len(list2[j]):
            m=list2[i]
            list2[i]=list2[j]
            list2[j]=m
            
print(list2)

['manotosh', 'shibaram', 'koushik', 'akash']

# 24. Improve the unique function written in previous problems to take an optional key function as argument and use the return value of the key function to check for uniqueness.

# 25. Reimplement the unique function implemented in the earlier examples using sets.