# 4.	Consider a given series, M1:
	Marks
T1	49
T2	55
T3	78
T4	33
Write a program in Python Pandas to create the Series.

In [2]:
import pandas as pd 
M1=pd.Series([49,55,78,33],index=['T1','T2','T3','T4'])
M1.name='Marks'

In [3]:
M1

T1    49
T2    55
T3    78
T4    33
Name: Marks, dtype: int64

# 5.	Consider the following Series object, 
IP	95
PHYSICS	89
CHEMISTRY	92
MATH	95

i. Write the Python syntax which will display only IP.
ii. Write the Python syntax to increase marks of all subjects by 10.

In [4]:
M2=pd.Series([95,89,92,95],index=['IP','PHYSICS','CHEMISTRY','MATH'])

In [5]:
M2.index

Index(['IP', 'PHYSICS', 'CHEMISTRY', 'MATH'], dtype='object')

In [8]:
M3=M2+10
M3

IP           105
PHYSICS       99
CHEMISTRY    102
MATH         105
dtype: int64

# 6.	Consider a given series : SQTR
QTR1 50000
QTR2 65890
QTR3 56780
QTR4 89000
QTR5 77900
Write a program in Python Pandas to create and display the series.

In [11]:
SQTR=pd.Series([50000,65890,56780,89000,77900],index=['QTR1','QTR2','QTR3','QTR4','QTR5'])

In [12]:
SQTR

QTR1    50000
QTR2    65890
QTR3    56780
QTR4    89000
QTR5    77900
dtype: int64

In [14]:
7.	What will be the output of the following program?
import pandas as pd
fst=[9,10,11]
scd=pd.Series(fst)
ob1=pd.Series(data=fst*2)
ob2=pd.Series(data=scd*2)

Object `program` not found.

In [15]:
print(“ob1”)

SyntaxError: invalid character '“' (U+201C) (4194051075.py, line 1)

In [16]:
print(ob1)

0     9
1    10
2    11
3     9
4    10
5    11
dtype: int64

In [17]:
print(“ob2”)

SyntaxError: invalid character '“' (U+201C) (1218805174.py, line 1)

In [18]:
print(ob2)

0    18
1    20
2    22
dtype: int64

# 8.	Make a Series. Write a program to calculate the cubes of the Series values.

In [21]:
cube_series=pd.Series([0,1,2,3,4,5,6,7,8,9])

In [22]:
cube_series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [23]:
cube_series**3

0      0
1      1
2      8
3     27
4     64
5    125
6    216
7    343
8    512
9    729
dtype: int64

# 9.	Make a Series. Write a program to store the squares of the Series values in another series object. Display the second series value, which values are more than 15.

In [24]:
series=pd.Series([0,1,2,3,4,5,6,7,8,9])

In [25]:
square_series=series**2
square_series

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int64

In [30]:
square_series[square_series>15]

4    16
5    25
6    36
7    49
8    64
9    81
dtype: int64

# 10.	Consider you have a following series:
a	0
b	1
c	2
d	3
e	4
    	..
	..
z	25

In [31]:
x='abcdefghijklmnopqrstuvwxyz'
alpha=[]
for i in x:
    alpha.append(i)

In [32]:
alpha

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [33]:
ser1=pd.Series(alpha)

In [34]:
ser1

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

#### a.	Set all the values of vowels to 10 and display the Series.

In [41]:
list1=['a','e','i','o','u']
for i in list1:
    ser1[ser1==i]=10

In [42]:
ser1

0     10
1      b
2      c
3      d
4     10
5      f
6      g
7      h
8     10
9      j
10     k
11     l
12     m
13     n
14    10
15     p
16     q
17     r
18     s
19     t
20    10
21     v
22     w
23     x
24     y
25     z
dtype: object

#### b.	Divide all values of vowels by 2 and display the Series.

In [43]:
ser1[ser1==10]=ser1[ser1==10]/2

In [44]:
ser1

0     5.0
1       b
2       c
3       d
4     5.0
5       f
6       g
7       h
8     5.0
9       j
10      k
11      l
12      m
13      n
14    5.0
15      p
16      q
17      r
18      s
19      t
20    5.0
21      v
22      w
23      x
24      y
25      z
dtype: object

#### c.	Create another series vowel1 having 5 elements with index labels ‘a’,’e’,’i’,’o’,’u’ having values [2,5,6,3,8] respectively.

In [59]:
vowels1=pd.Series([2,5,6,3,8], index = ['a','e','i','o','u'])

In [60]:
vowels1

a    2
e    5
i    6
o    3
u    8
dtype: int64

#### d.	Add vowels and vowels1  and assign the result to vowel3.

In [61]:
vowels=ser1[ser1==5]

In [62]:
vowels.index=['a','e','i','o','u']

In [63]:
vowels

a    5.0
e    5.0
i    5.0
o    5.0
u    5.0
dtype: object

In [64]:
vowel3=vowel+vowel1
vowel3

a     7.0
e    10.0
i    11.0
o     8.0
u    13.0
dtype: object

#### e.	Subtract, Multiply, and divide vowels by vowels1

In [65]:
print(vowels+vowels1)
print(vowels*vowels1)
print(vowels/vowels1)

a     7.0
e    10.0
i    11.0
o     8.0
u    13.0
dtype: object
a    10.0
e    25.0
i    30.0
o    15.0
u    40.0
dtype: object
a         2.5
e         1.0
i    0.833333
o    1.666667
u       0.625
dtype: object

#### f.	Alter the labels of vowels1 to [‘A’,’E’,’I’,’O’,’U’].

In [67]:
vowels1=['A','E','I','O','U']

In [68]:
vowels1

['A', 'E', 'I', 'O', 'U']